
@using groupCW.ViewModel

@model List<RemoveOldDVDViewModel>



<table class="table text-white table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 14.28%">DVD Title</th>
            <th style="width: 14.28%">DVD Release Date</th>
            <th style="width: 14.28%">Copy Number</th>
            <th style="width: 14.28%">DVD Date Purchased</th>
            <th style="width: 14.28%">Return Date</th>
            <th style="width: 14.28%">Date Out</th>
            <th style="width: 14.28%"></th>
        </tr>
    </thead>

          
    <tbody >
        @foreach(var obj in Model)
        {
            <tr>
                <td class="text-white" width="14.28%">@obj.dvdTitle</td>
                <td class="text-white" width="14.28%">@obj.dvdReleaseDate</td>
                <td class="text-white" width="14.28%">@obj.copyNumber</td>
                <td class="text-white" width="14.28%">@obj.dvdDatePurchased</td>
                <td class="text-white" width="14.28%">@obj.dvdDateReturned</td>
                <td class="text-white" width="14.28%">@obj.dvdDateOut</td>
                <td class="text-white" width="14.28%">
                   <button class="badge rounded-pill bg-info">Delete</button>
                </td>
            </tr>
        }
    </tbody>
    
</table>
